version: 1.0.{build}
environment:
  BUTLER_API_KEY:
    secure: bZkOKL8V53LQmlsTfACsI7nrLZiVma21avzj6kafl/QeOh8vWow1O5Lm7oFGnz2P
build_script:
- cmd: >-
    set PATH=%PATH:C:\Program Files\Git\usr\bin;=%

    set PATH=C:\mingw-w64\x86_64-7.3.0-posix-seh-rt_v5-rev0\mingw64\bin;%PATH%

    set SFML_DIR=..\SFML-2.5.0


    powershell -command "Invoke-WebRequest -uri https://www.sfml-dev.org/files/SFML-2.5.0-windows-gcc-7.3.0-mingw-64-bit.zip -UseBasicParsing -OutFile SFML.zip"


    powershell -command "Expand-Archive -Path SFML.zip -DestinationPath . -Force"


    cd build

    cmake -G "MinGW Makefiles" ..


    mingw32-make


    cd ..


    mkdir dist\Chimeras

    mkdir dist\Chimeras\assets


    xcopy /y C:\mingw-w64\x86_64-7.3.0-posix-seh-rt_v5-rev0\mingw64\bin\libgcc_s_seh-1.dll dist\Chimeras

    xcopy /y C:\mingw-w64\x86_64-7.3.0-posix-seh-rt_v5-rev0\mingw64\bin\libstdc++-6.dll dist\Chimeras

    xcopy /y C:\mingw-w64\x86_64-7.3.0-posix-seh-rt_v5-rev0\mingw64\bin\libwinpthread-1.dll dist\Chimeras



    xcopy /y build\Chimeras.exe dist\Chimeras

    xcopy /y assets\* dist\Chimeras\assets

    xcopy /y SFML-2.5.0\bin\*.dll dist\Chimeras
artifacts:
- path: dist\Chimeras
  name: Chimeras
before_deploy:
- cmd: >-
    cd dist


    powershell -command "Invoke-WebRequest -uri https://broth.itch.ovh/butler/windows-amd64/14.13.0/archive/default -UseBasicParsing -OutFile butler.zip"


    powershell -command "Expand-Archive -Path butler.zip -DestinationPath . -Force"


    butler push Chimeras studio-bakemono/Chimeras:windows
deploy:
- provider: Environment
  name: itch.io
  on:
    branch: master